<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MH_WardRound.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E14B4AE4090E3D01B5499AAE44F1BE5DB5742D44</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3HE5TDC9QX.cn.com.zysoft.MHW</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3HE5TDC9QX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3HE5TDC9QX.cn.com.zysoft.MHW</string>
				</array>
			</dict>
			<key>name</key>
			<string>智业移动查房.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b39f59fd-3980-44d8-a2b2-6a43b9bdacc7</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: cn.com.zysoft.MHW</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3HE5TDC9QX</string>
				<key>name</key>
				<string>Xiamen Zoenet Tech Co.Ltd.</string>
			</dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- 需要安装的ipa包在服务器的路径 -->
					<string>https://www.liushenghuan.xyz:7005/MH_WardRound.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!-- 安装时需要显示的大图标（1024*1024）在服务器的路径 -->
					<string>https://www.liushenghuan.xyz:7005/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!-- 安装时需要显示的小图标（180*180）在服务器的路径 -->
					<string>https://www.liushenghuan.xyz:7005/icon.png</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
